<style type="text/css">
head{
	background-color: #b0c4de;
}
body{
	background-color: #f0f0f0;
}

h1 {
    color:grey;
    font-family:Calibri;
    font-size:200%;
}
p{
    color:grey;
    font-family:Calibri;
    font-size:120%;
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>